// ? Set color of list icon bars
// * --list-icon-bar-background-color: white 

.list-icon-container {
  $size: 0.5rem;

  aspect-ratio: 1 / 1;
  position: relative;
  width: $size;

  .list-icon-bars {
    background: var(--list-icon-bar-background-color);
    height: 1px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--list-icon-bar-background-color);
    position: absolute;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }



}