@import '~hover.css/css/hover-min.css';
@import './cyclone-reset.scss';
@import './keyframes.scss';

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-size: clamp(0.75rem, 5vw, 0.8313rem);

  #content {
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;

    $content-inline-padding: 1rem;

    $logo-height: clamp(50px, 8vw, 55px);
    $header-left-gap: 0.5rem;

    header {
      align-items: center;
      display: flex;
      grid-area: header;
      padding-top: 1rem;
      padding-inline: $content-inline-padding;
      justify-content: space-between;
      z-index: 2;

      .header-left {
        display: flex;
        align-items: center;
        gap: $header-left-gap;

        .header-logo {
          animation: spin 33s linear infinite;
          height: $logo-height;
          opacity: 0.5;
          transition: all 0.38ms ease-in-out;

          &:hover {
            animation-play-state: paused;
            opacity: 1;
          }
        }

        .header-title {
          color: white;
          // font-size: clamp(1rem, 5vw, 2rem);
          font-size: 1.5rem
        }
      }

      .header-right {
        align-items: center;
        display: flex;
        gap: 1.375rem;
      }
    }

    .zig-zag-nav {
      -webkit-backdrop-filter: blur(1rem);
      backdrop-filter: blur(1rem);
      background: hsl(0 0% 100% / 0.1);
      border-bottom-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      overflow: scroll;
      padding-bottom: 2rem;
      padding-inline: 2rem;
      padding-top: calc($logo-height + $content-inline-padding);
      position: fixed;
      width: 100%;
      top: 0;

      .nav-list-container {
        padding: 2rem;

        &:has(.nav-link:hover) .nav-list-header::before {
          opacity: 0;
        }

        .nav-list-header {
          color: white;
          font-size: 1rem;
          text-transform: uppercase;

          &::before {
            content: '>';
            margin-inline-end: 0.5rem;
            left: -1rem;
            position: absolute;
            top: 0;
            transition: opacity 760ms ease-in-out;
          }
        }

        .nav-ul {
          display: flex;
          flex-direction: column;
          row-gap: 1.5rem;

          .nav-link {
            white-space: nowrap;
            transition: all 380ms ease-in-out;

            // ? .nav-link::before used in zigZagNav styling
            &::after {
              content: '>';
              opacity: 0;
              left: -0.75rem;
              position: absolute;
              top: 0;
              transform: scale(0);
              transition: all 380ms ease-in-out;
            }
            
            &:hover::after {
              opacity: 1;
              transform: scale(1);
            }

            &:hover {
              opacity: 0.70;
            }

            &:active {
              opacity: 1;
              transform: scale(1.1);
              transition: opacity 33ms ease-in-out;
            }
          }
        }
      }
      
      #project-nav-list-container {
        border: 3px solid hsl(0 0% 100% / 0.1);
        border-radius: 55px;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        position: relative;
        width: 100%;

        #add-project-container {
          $gap: 1.25rem;  
          
          align-items: start;
          display: flex;
          flex-direction: column;

          #add-project-form {
            display: grid;
            gap: $gap;
            grid-template-areas: 'input-container button-container';
            grid-template-rows: 0fr;
            padding-top: 1rem;
            transform-origin: top left;

            &[data-hidden=true] {
              display: none;
            }

            &[data-hidden=closing] {
              animation: fade-out 380ms ease-in-out forwards;
              pointer-events: none;
            }

            &[data-hidden=false] {
              animation: fade-in 380ms ease-in-out forwards;
              pointer-events: all;
            }

            #project-input-container,
            #project-buttons-container {
              overflow: hidden;
            }

            #project-input-container {
              align-items: center;
              display: flex;
              gap: $gap;
              grid-area: input-container;

              .list-icon-container {
                width: 0.75rem;
              }

              #project-name-input {
                appearance: none;
                background-color: rgba(0, 0, 0, 0.388);
                border: none;
                border-radius: 100vw;
                color: white;
                box-shadow: inset 0 0 3px silver;
                padding: 1rem;

                &::placeholder {
                  color: rgba(255, 255, 255, 0.555);
                }

                &:focus,
                &:focus-visible {
                  outline: none;
                  box-shadow: inset 0 0 5px rgb(245, 157, 63);
                }
              } 
            }

            #project-buttons-container {
              display: flex;
              gap: $gap;
              grid-area: button-container;

              #add-project-button,
              #cancel-add-project-button {
                border: 2px solid hsl(0 0% 100% / 0.25);
                border-radius: 100vw;
                color: white;
                cursor: pointer;
                display:inline-block;
                padding: 15px;
                position: relative;

                &::before {
                  background: linear-gradient(to bottom, silver, silver, transparent);
                  border-radius: inherit;
                  content: '';
                  display: inline-block;
                  height: 100%;
                  inset: 0;
                  opacity: 0.3;
                  position: absolute;
                  transform: scale(0);
                  transform-origin: bottom center;
                  transition: transform 100ms ease-in-out;
                  width: 100%;
                  z-index: -1;
                }

                &:hover::before {
                  transform: scale(1);
                } 
              }
            }
          }

          #new-project-button {
            cursor: pointer;
            color: white;
            font-size: 1rem;
            position: relative;
            text-decoration: underline;
            text-transform: uppercase;
            transition: all 150ms ease-in-out;
            white-space: nowrap;

            &::after {
              content: '+';
              opacity: 1; 
              left: -1rem;
              position: absolute;
              transition: transform 380ms ease-in-out;
            }
            
            &:hover {
              transform: translateX(0.25rem) scale(1) rotate(0);
              
              &::after {
                transform: translate(-0.25rem) scale(2) rotate(360deg);
              }
            }
            
            &:active {
              opacity: 0.75;
              transform: translateX(0.25rem) scale(0.99) rotate(0);
              
              &::after {
                transform: translate(-0.25rem) scale(1.01) rotate(360deg);
              }
            }
          }
        }
        
        #project-nav-list {
          background: linear-gradient(to bottom, hsl(0 0% 100% / 0.25), transparent);
          border-radius: 25px;
          column-gap: 2rem;
          flex-direction: column;
          flex-wrap: wrap;
          min-height: 7.438rem; // ? practical height for 3 projects per column;
          overflow: hidden;
          padding: 1rem 1.5rem;
          row-gap: 0.75rem;

          .project-li {
            align-items: center;
            display: flex;
            gap: 0.25rem;

            &:has(.nav-link:hover) {
              .list-icon-container {
                opacity: 0;
                transform: scale(0)
              }
            }
            
            .list-icon-container {
              transition: all 380ms ease-in-out;
            }
          }
        }
      }
    }

    main {
      display: grid;
      place-items: center;
      justify-items: center;
      padding-block: 3rem;
      
      #main-container {
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        background: linear-gradient(to bottom, hsl(0 0% 100% / 0.25), transparent);
        border-radius: 50px;
        box-shadow: 0px 0px 10px whitesmoke;
        display: flex;
        flex-direction: column;
        min-height: 60vh;
        justify-content: space-between;
        overflow-y: scroll;
        padding-block: 1rem;
        position: relative;
        width: min(88vw, 888px);

        #main-heading {
          color: white;
          font-size: clamp(1.25rem, 3vw, 1.5rem);
          margin-bottom: 1rem;
          position: sticky;
          text-align: center;
          top: 0;
        }
        
        #main-content {
          display: grid;
          flex: 1;

          #task-list {
            list-style: none;
            padding-inline: 3rem;
            width: 100%;

            #placeholder-container {
              color: white;
              display: grid;
              height: 100%;
              place-items: center;
            } 
            
            .task-item {
              border: 3px ridge hsl(0 0% 100% / 0.1);
              border-radius: 100vw;
              gap: 0.5rem;
              display: grid;
              grid-template-areas: 
              'checkbox title title right-side'
              'checkbox details details right-side';
              margin-bottom: 1rem; 
              padding-block: 0.5rem;
              padding-inline: 1.5rem;
              transition: transform 33ms ease-in-out;

              // TODO:
              &:has(.task-item-checkbox:checked) {
                opacity: 0.7;
                text-decoration: line-through;
                text-decoration-color: silver;
                transform: scale(0.99);
              }

              &:hover .task-item-details::-webkit-scrollbar-thumb {
                background: linear-gradient(to right, black, rgb(177, 177, 177));
              }

              &:active {
                transform: scale(0.99);
              }

              .task-checkbox-container {
                display: grid;
                grid-area: checkbox;
                place-items: center;

                .task-item-checkbox {
                  appearance: none;
                  aspect-ratio: 1 / 1;
                  box-shadow: inset 0 0 3px whitesmoke;
                  border: 2px ridge silver;
                  border-radius: 50%;
                  color: chartreuse;
                  // ? color set here so that Windows' High-Contrast Mode can override
                  position: relative;
                  width: 1rem;

                  &::before {
                    content: "✔";
                    position: absolute;
                    font-size: 1.75em;
                    opacity: 0;
                    text-shadow: 0 0 1px chartreuse;
                    top: -0.6em;
                    visibility: hidden;
                    transition: all 250ms ease-in-out;
                  }
                  
                  &:checked {
                    box-shadow: inset 0 0 5px chartreuse;
                    &::before {
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }

              .task-item-title {
                color: white;
                font-size: clamp(0.75rem, 5.5vw, 0.875rem);
                grid-area: title;
                text-transform: uppercase;
              }

              .task-item-details {
                color: silver;
                grid-area: details;
                overflow-x: auto;
                padding-bottom: 0.5rem;
                white-space: nowrap;

                &::-webkit-scrollbar {
                  height: 3px;
                }
                
                &::-webkit-scrollbar-track {
                  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);              
                }
                
                &::-webkit-scrollbar-thumb {
                  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(177, 177, 177, 0.25));
                  border-radius: 100vw;
                  transition: background 380ms ease-in-out;
                }
              }

              .task-right-side-container {
                align-self: center;
                display: grid;
                grid-area: right-side;
                grid-template-columns: 1fr 1fr;

                .task-item-date {
                  color: silver;
                  font-size: clamp(0.625rem, 2.4vw, 0.8313rem);
                  text-transform: uppercase;
                  white-space: nowrap;
                }

                .task-item-button-container {
                  display: flex;
                  gap: 1rem;
                  overflow-y: hidden; // ? to fix stars line-height issue
                  justify-content: center;

                  .task-priority-checkbox {
                    appearance: none;
                    cursor: pointer;
                    line-height: 0.5;
                    position: relative;

                    &::before,
                    &::after  {
                      font-size: 2rem;
                      inset: 0;
                      line-height: 0.50;
                    }

                    &::before {
                      content: "☆";
                      color: silver;
                      opacity: 1;
                      position: relative;
                      transition: all 250ms ease-in-out;
                      visibility: visible;
                      vertical-align: 5px;
                    }

                    &::after {
                      content : "★";
                      color: yellow;
                      opacity: 0;
                      position: absolute;
                      transform: scale(0);
                      transition: transform 250ms ease-in-out, opacity 125ms ease-in-out;
                      visibility: hidden;
                    }

                    &:checked {
                      &::after {
                        opacity: 1;
                        transform: scale(0.70);
                        visibility: visible;
                      }
                    }
                  }

                  .modify-task-button {
                    cursor: pointer;
                    font-size: 1rem;
                  }
                }
              }
            }

            li:last-of-type:not(#placeholder-container) {
              margin-bottom: 3rem;
            }
          }

          #add-task-container {              
            #add-task-form-opener-button-container {
              margin-bottom: 1.5rem;
              text-align: center;

              #add-task-form-opener-button {
                color: white;
                cursor: pointer;
                font-size: 1rem;
                opacity: 0.8;
                position: relative;
                text-decoration: underline;
                text-transform: uppercase;
                transition: all 190ms ease-in-out;

                &:hover {
                  opacity: 1;
                  transform: scale(1.1);

                  &::before {
                    transform: rotate(360deg) scale(1.5);
                  }
                }

                &:active {
                  opacity: 0.8;
                  transform: scale(1)
                }

                &::before {
                  content: '+';
                  left: -1rem;
                  position: absolute;
                  transition: transform 380ms ease-in-out;
                }
              }
            }

            #add-task-form-container {
              display: grid;
              transition: grid-template-rows 500ms;
              
              &[data-hidden=true] {
                display: none;
              }

              &[data-hidden=closing] {
                animation: fade-out 380ms ease-in-out forwards;
                pointer-events: none;
              }

              &[data-hidden=false] {              
                animation: fade-in 380ms ease-in-out forwards;
                pointer-events: all;
              }
          
              #add-task-form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 1.5rem;
                margin-inline: auto;
                overflow: hidden;
                padding-inline: 1.5rem;
                width: min(500px, 100%);

                #add-task-button-container {
                  color: white;
                  display: flex;
                  gap: 1rem;
                  justify-content: center;

                  .add-task-button {
                    border: 2px solid hsl(0, 0%, 100%, 0.25);
                    border-radius: 100vw;
                    color: white;
                    cursor: pointer;
                    padding: 15px;
                    position: relative;
                    text-transform: uppercase;

                    &::before {
                      background: linear-gradient(to bottom, silver, silver, transparent);
                      border-radius: inherit;
                      content: '';
                      display: inline-block;
                      height: 100%;
                      inset: 0;
                      opacity: 0.3;
                      position: absolute;
                      transform: scale(0);
                      transform-origin: bottom center;
                      transition: transform 100ms ease-in-out;
                      width: 100%;
                      z-index: -1;
                    }

                    &:hover::before {
                      transform: scale(1);
                    } 
                  }
                }

                .input-container {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
              
                .add-task-label {
                  color: white;
                  font-size: clamp(0.75rem, 5.5vw, 0.875rem);
                  // font-weight: bold;
                  text-transform: uppercase;
                }
              
                .add-task-input {
                  appearance: none;
                  background-color: rgba(0, 0, 0, 0.388);
                  border: none;
                  box-shadow: inset 0 0 3px silver;
                  color: white;
                  border-radius: 100vw;
                  padding-block: 0.25rem;
                  padding-inline: 1rem;

                  &:focus,
                  &:focus-visible {
                    outline: none;
                    box-shadow: inset 0 0 5px rgb(245, 157, 63);
                  }


                  &::placeholder,
                  &[type='date']:invalid {
                    color:  rgba(255, 255, 255, 0.555);
                  }
                }
                }     
              }
            }
          }
        }
      }
    }

    footer {
      background-color: green;
      grid-area: footer;
    }
  }
}

@media (max-width: 35em) {
  // add body and content to specficity
  body {
    #content {
      .zig-zag-nav {
        border-radius: unset;
        bottom: 0;
        flex-direction: column;
        min-width: 16.625rem; // ? width of add project input when open
        padding: min(30vh, 10rem) 2rem;
        right: 0;
        top: 0;
        width: max-content;

        .nav-list-container {
          padding: 0;
        }

        #project-nav-list-container {
          border: none;
          grid-template-areas: 
          'heading'
          'add-project'
          'project-list';
          max-height: unset;
          padding: 0;

          #add-project-container {
            #add-project-form {
              grid-template-areas: 'input-container' 'button-container';
              grid-template-rows: 0fr 0fr;

              #project-input-container {

                .list-icon-container  {
                  display: none;
                }
              }

            }
          }

          #project-nav-list {
            border-radius: 1rem;
            flex-direction: column;
            padding: 1.125rem;
            flex-wrap: nowrap;
            // width: fit-content;
          }
        }
      }
      main {
        #main-container {
          #main-content { 
            #task-list { 
              padding-inline: 1rem;  
              .task-item {

                // .task-item-details {
                // }
                .task-right-side-container {
                  align-self: start;
                  // border: 2px solid red;
                  grid-template-columns: 1fr;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 35em) {
    body {
    #content {
      .zig-zag-nav {

        #project-nav-list-container {
          max-height: 433px;

          #add-project-container {
            #add-project-form {
              grid-template-areas: 
                'input-container' 
                'button-container';
              grid-template-rows: 0fr 0fr;

              #project-input-container {

                .list-icon-container  {

                }
              }

            }
          }

          #project-nav-list {
            &::-webkit-scrollbar {
            height: 3px;
            }

            // ? hacky way to hide vertical scrollbar
            &::-webkit-scrollbar:vertical {
              width: 0;
            } 
          
            &::-webkit-scrollbar-track {
              border-radius: 100vw;
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);              
            }

            &::-webkit-scrollbar-thumb {
              background: linear-gradient(to bottom, white, silver);
              border-radius: 100vw;
              transition: background 380ms ease-in-out;
            }
          }
        }
      }
      main {
        #main-container {
          #main-content { 
            #task-list { 
              .task-item {

                // .task-item-details {
                // }
                .task-right-side-container {

                }
              }
            }
          }
        }
      }
    }
  }

}

@media (min-width: 768px) {
    body {
    #content {
      .zig-zag-nav {

        .nav-list-container {
    
        }

        #project-nav-list-container {
          max-height: 356px;

          #add-project-container {
            #add-project-form {
              grid-template-areas: 'input-container button-container';
              grid-template-rows: 0fr;

              #project-input-container {

                .list-icon-container  {

                }
              }

            }
          }

          #project-nav-list {

          }
        }
      }
      main {
        #main-container {
          #main-content { 
            #task-list { 
              .task-item {

                // .task-item-details {
                // }
                .task-right-side-container {

                }
              }
            }
          }
        }
      }
    }
  }

}