@import './cyclone-reset.scss';

body {
  background: url('../assets/images/space-background.webp') center / cover no-repeat;

  #content {
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;

    $logo-height: 55px;
    $content-padding: 1rem;
    $nav-desktop-padding-top: calc($logo-height + $content-padding);

    header {
      align-items: center;
      display: flex;
      grid-area: header;
      padding-inline: $content-padding;
      justify-content: space-between;
      z-index: 1;

      .header-left {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .header-logo {
          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }

          animation: spin 33s linear infinite;

          height: $logo-height;
          opacity: 0.5;
          transition: all 0.380ms ease-in-out;

          &:hover {
            animation-play-state: paused;
            opacity: 1;
          }
        }

        .header-title { 
          color: white;
          font-size: 2rem;
        }
      }

      .header-right {
        align-items: center;
        display: flex;
        gap: 3rem;
      }
    }

    .zig-zag-nav {
      backdrop-filter: blur(0.1rem);
      background: hsl(0 0% 100% / 0.1);
      padding-inline: 1rem;
      padding-top: $nav-desktop-padding-top;
      position: fixed;
      top: 0;
      width: 100%;


      .nav-ul {
        display: flex;
        flex-direction: column;
      }
    }

    main {
      background-color: blue;
      grid-area: main;
      min-height: 100vh;
    }

    footer {
      background-color: green;
      grid-area: footer;
    }
  }
}

@media (max-width: 35em) {
  // add body and content to specficity
  body {
    #content {
      .zig-zag-nav {
        padding: min(30vh, 10rem) 2rem;
      }
    }
  }
}
