$theme-toggle-gap: 0rem;
$theme-toggle-icon-width: 10px;
$theme-toggle-icon-padding: 3.5px;
$theme-icon-space-between: calc($theme-toggle-icon-width * 2 + $theme-toggle-gap);

#theme-toggle-container {
  border-radius: 100vw;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  position: relative;
  transition: opacity 380ms ease-in-out;
}

#theme-toggle-checkbox {
  display: none;
}

#theme-toggle-label {
  align-items: center;
  border-radius: inherit;
  box-shadow: inset 0 0 12px silver;
  cursor: pointer;
  display: flex; 
  gap: $theme-toggle-gap;
  padding: 5px 8px;

  min-height: 25px;
  min-width: 25px;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard */
}

#sun,
#moon {
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: black;
  font-size: 0.675rem;
  padding: $theme-toggle-icon-padding;
  width: $theme-toggle-icon-width;
}

#sun {
  background-color: #ff9d4d;
  box-shadow: inset 2px -2px 3px black;
  opacity: 0;
  -webkit-transform: translateX($theme-icon-space-between) rotate(0);
  transform: translateX($theme-icon-space-between) rotate(0);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#moon {
  background-color: #F6F1D5;
  box-shadow: inset -3px -3px 8px black;
  opacity: 1;
  -webkit-transform: translateX(0px) rotate(0);
  transform: translateX(0px) rotate(0);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#theme-toggle-checkbox:checked ~ #theme-toggle-label > #sun {
  opacity: 1;
  -webkit-transform: translateX(0px) rotate(360deg);
  transform: translateX(0px) rotate(360deg);
}

#theme-toggle-checkbox:checked ~ #theme-toggle-label > #moon {
  opacity: 0;
  -webkit-transform: translateX(calc($theme-icon-space-between * -1)) rotate(360deg);
  transform: translateX(calc($theme-icon-space-between * -1)) rotate(360deg);
}