@charset "UTF-8";
@import '~hover.css/css/hover-min.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

html {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h3,
h5,
h6 {
  font-weight: normal;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

img {
  image-rendering: crisp-edges;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: 0;
}

picture img {
  object-fit: contain;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

dfn {
  font-style: italic;
  margin-right: 3px;
}

abbr[title],
dfn[title] {
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

em {
  font-style: italic;
}

.accessibility {
  height: 1px;
  left: -9999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* * UTILITIES */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
}

input[type=checkbox] {
  margin: 0;
}

@keyframes fade-in {
  0% {
    grid-template-rows: 0fr;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  90% {
    grid-template-rows: 1fr;
    opacity: 0.5;
    transform: scale(1);
    visibility: visible;
  }
  100% {
    grid-template-rows: 1fr;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes fade-out {
  0% {
    grid-template-rows: 1fr;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  10% {
    grid-template-rows: 1fr;
    opacity: 0.5;
    transform: scale(1);
    visibility: visible;
  }
  100% {
    grid-template-rows: 0fr;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --h1-fs: clamp(1rem, 2.25vw, 1.25rem);
  --h2-fs: clamp(0.938rem, 2vw, 1.125rem);
  --open-form-buttons: clamp(0.813rem, 2.125vw, 0.938rem);
  --body-font-size: clamp(0.75rem, 1.5vw, 0.813rem);
  --task-item-date-font-size: clamp(0.625rem, 2.3vw, 0.75rem);
  --modify-task-button-font-size: 1rem;
  --color-text-primary: whitesmoke;
  --color-text-secondary: silver;
  --container-background: linear-gradient(
    to bottom,
    hsl(0 0% 100% / 0.25),
    transparent
  );
  --page-background: radial-gradient(
    ellipse at bottom,
    #1b2735 0%,
    #090a0f 100%
  );
  --zig-zag-nav-background: hsl(0 0% 100% / 0.1);
  --input-background: rgba(0, 0, 0, 0.388);
  --input-box-shadow: inset 0 0 3px silver;
  --input-placeholder-text-color: rgba(255, 255, 255, 0.555);
  --input-focus-box-shadow: inset 0 0 5px rgb(245, 157, 63);
  --task-item-checkbox-border: 2px ridge silver;
  --task-item-checkbox-box-shadow: inset 0 0 3px whitesmoke;
  --task-item-checkbox-box-shadow-checked: inset 0 0 5px chartreuse;
  --task-item-checkbox-check-color: chartreuse;
  --task-item-checkbox-check-text-shadow: 0 0 1px chartreuse;
  --task-item-line-through-color: silver;
  --add-cancel-button-border: 2px solid hsl(0, 0%, 100%, 0.25);
  --add-cancel-button-pseudo-background: linear-gradient(
    to bottom,
    silver,
    silver,
    transparent
  );
  --scrollbar-thumb-background: linear-gradient(
    to right,
    rgba(192, 192, 192, 0.35),
    rgba(177, 177, 177, 0.25)
  );
  --scrollbar-thumb-hover-background: linear-gradient(
    to right,
    silver,
    rgb(177, 177, 177)
  );
  --scrollbar-track-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  --priority-star-border-color: silver;
  --priority-star-fill-color: yellow;
  --priority-star-font-size: 2rem;
  --modify-task-button-font-size: 0.813rem;
  --component-border: 3px solid hsl(0 0% 100% / 0.1);
  --logo-height: clamp(50px, 8vw, 55px);
  --content-inline-padding: 1rem;
}

body {
  background: var(--page-background);
  color: var(--color-text-primary);
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-size: var(--body-font-size);
}

#content {
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", "Courier New", Courier, monospace;
}

header {
  align-items: center;
  display: flex;
  grid-area: header;
  padding-top: 1rem;
  padding-inline: var(--content-inline-padding);
  justify-content: space-between;
  z-index: 2;
}
header .header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .header-left .header-logo {
  animation: spin 33s linear infinite;
  height: var(--logo-height);
  opacity: 0.5;
  transition: all 0.38ms ease-in-out;
}
header .header-left .header-logo:hover {
  animation-play-state: paused;
  opacity: 1;
}
header .header-left .header-title {
  font-size: var(--h1-fs);
}
header .header-right {
  align-items: center;
  display: flex;
  gap: 1.375rem;
}

nav.zig-zag-nav {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background: var(--zig-zag-nav-background);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: scroll;
  padding-bottom: 2rem;
  padding-inline: 2rem;
  padding-top: calc(var(--logo-height) + var(--content-inline-padding));
  position: fixed;
  width: 100%;
  top: 0;
}
nav.zig-zag-nav .nav-list-container {
  padding: 2rem;
}
nav.zig-zag-nav .nav-list-container .nav-list-heading {
  font-size: var(--h2-fs);
  text-transform: uppercase;
}
nav.zig-zag-nav .nav-list-container .nav-list-heading::before {
  content: ">";
  left: -1rem;
  margin-inline-end: 0.5rem;
  position: absolute;
  top: 0;
  transition: opacity 760ms ease-in-out;
}
nav.zig-zag-nav .nav-list-container .nav-ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
nav.zig-zag-nav .nav-list-container .nav-ul .nav-link {
  transition: all 380ms ease-in-out;
  white-space: nowrap;
}
nav.zig-zag-nav .nav-list-container .nav-ul .nav-link::after {
  content: ">";
  opacity: 0;
  left: -0.75rem;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 380ms ease-in-out;
}
nav.zig-zag-nav .nav-list-container .nav-ul .nav-link:hover::after {
  opacity: 1;
  transform: scale(1);
}
nav.zig-zag-nav .nav-list-container .nav-ul .nav-link:hover {
  opacity: 0.7;
}
nav.zig-zag-nav .nav-list-container .nav-ul .nav-link:active {
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 33ms ease-in-out;
}
nav.zig-zag-nav .nav-list-container:has(.nav-link:hover) .nav-list-heading::before {
  opacity: 0;
}
nav.zig-zag-nav #project-nav-list-container {
  border: var(--component-border);
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  width: 100%;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container {
  align-items: start;
  display: flex;
  flex-direction: column;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form {
  display: grid;
  gap: 1.25rem;
  grid-template-areas: "input-container button-container";
  grid-template-rows: 0fr;
  padding-top: 1rem;
  transform-origin: top left;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form[data-hidden=true] {
  display: none;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form[data-hidden=closing] {
  animation: fade-out 380ms ease-in-out forwards;
  pointer-events: none;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form[data-hidden=false] {
  animation: fade-in 380ms ease-in-out forwards;
  pointer-events: all;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container,
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container {
  overflow: hidden;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container {
  align-items: center;
  display: flex;
  gap: 1.25rem;
  grid-area: input-container;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container .list-icon-container {
  width: 0.75rem;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container #project-name-input {
  appearance: none;
  background: var(--input-background);
  border: none;
  border-radius: 100vw;
  color: var(--color-text-primary);
  box-shadow: var(--input-box-shadow);
  padding: 1rem;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container #project-name-input::placeholder {
  color: var(--input-placeholder-text-color);
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container #project-name-input:focus, nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container #project-name-input:focus-visible {
  outline: none;
  box-shadow: var(--input-focus-box-shadow);
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container {
  display: flex;
  gap: 1.25rem;
  grid-area: button-container;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container #add-project-button,
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container #cancel-add-project-button {
  border: var(--add-cancel-button-border);
  border-radius: 100vw;
  color: var(--color-text-primary);
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  position: relative;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container #add-project-button::before,
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container #cancel-add-project-button::before {
  background: var(--add-cancel-button-pseudo-background);
  border-radius: inherit;
  content: "";
  display: inline-block;
  height: 100%;
  inset: 0;
  opacity: 0.3;
  position: absolute;
  transform: scale(0);
  transform-origin: bottom center;
  transition: transform 100ms ease-in-out;
  width: 100%;
  z-index: -1;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container #add-project-button:hover::before,
nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-buttons-container #cancel-add-project-button:hover::before {
  transform: scale(1);
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #new-project-button {
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: var(--open-form-buttons);
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  white-space: nowrap;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #new-project-button::after {
  content: "+";
  opacity: 1;
  left: -1rem;
  position: absolute;
  transition: transform 380ms ease-in-out;
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #new-project-button:hover {
  transform: translateX(0.25rem) scale(1) rotate(0);
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #new-project-button:hover::after {
  transform: translate(-0.25rem) scale(2) rotate(360deg);
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #new-project-button:active {
  opacity: 0.75;
  transform: translateX(0.25rem) scale(0.99) rotate(0);
}
nav.zig-zag-nav #project-nav-list-container #add-project-container #new-project-button:active::after {
  transform: translate(-0.25rem) scale(1.01) rotate(360deg);
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list {
  background: var(--container-background);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  column-gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 7.438rem;
  overflow: hidden;
  padding: 1rem 1.5rem;
  row-gap: 0.75rem;
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list .project-li {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list .project-li:has(.nav-link:hover) .list-icon-container {
  opacity: 0;
  transform: scale(0);
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list .project-li .list-icon-container {
  transition: all 380ms ease-in-out;
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list::-webkit-scrollbar {
  height: 3px;
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list::-webkit-scrollbar:vertical {
  width: 0;
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list::-webkit-scrollbar-track {
  border-radius: 100vw;
  box-shadow: var(--scrollbar-track-box-shadow);
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: 100vw;
  transition: background 380ms ease-in-out;
}
nav.zig-zag-nav #project-nav-list-container #project-nav-list:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-hover-background);
}

main {
  display: grid;
  place-items: center;
  justify-items: center;
  padding-block: 3rem;
}

#main-container {
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  background: var(--container-background);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: start;
  overflow-y: scroll;
  padding-block: 1rem;
  position: relative;
  width: min(88vw, 888px);
}

#main-heading {
  font-size: var(--h2-fs);
  margin-bottom: 1.5rem;
  position: sticky;
  text-align: center;
  top: 0;
}

#main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
}

#task-list {
  height: 100%;
  list-style: none;
  padding-inline: 3rem;
}
#task-list #placeholder-container {
  display: grid;
  height: 20rem;
  place-items: center;
}
#task-list li:last-of-type:not(#placeholder-container) {
  margin-bottom: 3rem;
}

.task-item {
  border: var(--component-border);
  border-radius: 100vw;
  column-gap: 1rem;
  display: grid;
  grid-template-areas: "checkbox title right-side right-side" "checkbox details right-side right-side";
  grid-template-columns: 1rem 2fr 1fr 1fr;
  margin-bottom: 1rem;
  margin-inline: auto;
  max-width: 555px;
  min-height: 4.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
  padding-inline: 1.75rem;
  row-gap: 0.25rem;
  transition: transform 33ms ease-in-out;
}
.task-item .task-checkbox-container {
  display: grid;
  grid-area: checkbox;
  justify-self: start;
  place-items: center;
}
.task-item .task-checkbox-container .task-item-checkbox {
  appearance: none;
  aspect-ratio: 1/1;
  border: var(--task-item-checkbox-border);
  border-radius: 50%;
  box-shadow: var(--task-item-checkbox-box-shadow);
  color: var(--task-item-checkbox-check-color);
  position: relative;
  width: 1rem;
}
.task-item .task-checkbox-container .task-item-checkbox::before {
  content: "✔";
  font-size: 1.75em;
  opacity: 0;
  position: absolute;
  text-shadow: var(--task-item-checkbox-check-text-shadow);
  top: -0.6em;
  transition: all 250ms ease-in-out;
  visibility: hidden;
}
.task-item .task-checkbox-container .task-item-checkbox:checked {
  box-shadow: var(--task-item-checkbox-box-shadow-checked);
}
.task-item .task-checkbox-container .task-item-checkbox:checked::before {
  opacity: 1;
  visibility: visible;
}
.task-item .task-item-title {
  font-size: var(--body-font-size);
  grid-area: title;
  text-transform: uppercase;
}
.task-item .task-item-details {
  color: var(--color-text-secondary);
  grid-area: details;
  overflow-x: auto;
  padding-bottom: 0.25rem;
  white-space: nowrap;
}
.task-item .task-item-details::-webkit-scrollbar {
  height: 3px;
}
.task-item .task-item-details::-webkit-scrollbar-track {
  border-radius: 100vw;
  box-shadow: var(--scrollbar-track-box-shadow);
}
.task-item .task-item-details::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background);
  border-radius: 100vw;
  transition: background 380ms ease-in-out;
}
.task-item .task-right-side-container {
  align-items: center;
  align-self: center;
  display: grid;
  grid-area: right-side;
  grid-template-columns: 1fr;
  row-gap: 0.25rem;
}
.task-item .task-right-side-container .task-item-date {
  color: var(--color-text-secondary);
  font-size: var(--task-item-date-font-size);
  justify-self: end;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.task-item .task-right-side-container .task-item-button-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  overflow-y: hidden;
  justify-content: end;
}
.task-item .task-right-side-container .task-item-button-container .task-priority-checkbox {
  appearance: none;
  cursor: pointer;
  line-height: 0.5;
  position: relative;
}
.task-item .task-right-side-container .task-item-button-container .task-priority-checkbox::before, .task-item .task-right-side-container .task-item-button-container .task-priority-checkbox::after {
  font-size: var(--priority-star-font-size);
  inset: 0;
  line-height: 0.5;
}
.task-item .task-right-side-container .task-item-button-container .task-priority-checkbox::before {
  content: "☆";
  color: var(--priority-star-border-color);
  opacity: 1;
  position: relative;
  transition: all 250ms ease-in-out;
  visibility: visible;
  vertical-align: 5px;
}
.task-item .task-right-side-container .task-item-button-container .task-priority-checkbox::after {
  content: "★";
  color: var(--priority-star-fill-color);
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transition: transform 250ms ease-in-out, opacity 125ms ease-in-out;
  visibility: hidden;
}
.task-item .task-right-side-container .task-item-button-container .task-priority-checkbox:checked::after {
  opacity: 1;
  transform: scale(0.7);
  visibility: visible;
}
.task-item .task-right-side-container .task-item-button-container .modify-task-button {
  cursor: pointer;
  color: white;
  font-size: var(--modify-task-button-font-size);
}
.task-item:has(.task-item-checkbox:checked) {
  opacity: 0.7;
  text-decoration: line-through;
  text-decoration-color: var(--task-item-line-through-color);
  transform: scale(0.99);
}
.task-item:hover .task-item-details::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-hover-background);
}
.task-item:active {
  transform: scale(0.99);
}

#add-task-container #add-task-form-opener-button-container {
  margin-bottom: 1.5rem;
  text-align: center;
}
#add-task-container #add-task-form-opener-button-container #add-task-form-opener-button {
  color: var(--color-text-primary);
  cursor: pointer;
  font-size: var(--open-form-buttons);
  opacity: 0.8;
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 190ms ease-in-out;
}
#add-task-container #add-task-form-opener-button-container #add-task-form-opener-button::before {
  content: "+";
  left: -1rem;
  position: absolute;
  transition: transform 380ms ease-in-out;
}
#add-task-container #add-task-form-opener-button-container #add-task-form-opener-button:hover {
  opacity: 1;
  transform: scale(1.1);
}
#add-task-container #add-task-form-opener-button-container #add-task-form-opener-button:hover::before {
  transform: rotate(360deg) scale(1.5);
}
#add-task-container #add-task-form-opener-button-container #add-task-form-opener-button:active {
  opacity: 0.8;
  transform: scale(1);
}
#add-task-container #add-task-form-container {
  display: grid;
  transition: grid-template-rows 500ms;
  transform-origin: top;
}
#add-task-container #add-task-form-container[data-hidden=true] {
  display: none;
}
#add-task-container #add-task-form-container[data-hidden=closing] {
  animation: fade-out 380ms ease-in-out forwards;
  pointer-events: none;
}
#add-task-container #add-task-form-container[data-hidden=false] {
  animation: fade-in 380ms ease-in-out forwards;
  pointer-events: all;
}

#add-task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-inline: auto;
  overflow: hidden;
  padding-inline: 1.5rem;
  width: min(500px, 100%);
}
#add-task-form #add-task-button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
#add-task-form #add-task-button-container .add-task-button {
  border: var(--add-cancel-button-border);
  border-radius: 100vw;
  color: var(--color-text-primary);
  cursor: pointer;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
}
#add-task-form #add-task-button-container .add-task-button::before {
  background: var(--add-cancel-button-pseudo-background);
  border-radius: inherit;
  content: "";
  display: inline-block;
  height: 100%;
  inset: 0;
  opacity: 0.3;
  position: absolute;
  transform: scale(0);
  transform-origin: bottom center;
  transition: transform 100ms ease-in-out;
  width: 100%;
  z-index: -1;
}
#add-task-form #add-task-button-container .add-task-button:hover::before {
  transform: scale(1);
}
#add-task-form .input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#add-task-form .input-container .add-task-label {
  font-size: var(--body-font-size);
  text-transform: uppercase;
}
#add-task-form .input-container .add-task-input {
  appearance: none;
  background: var(--input-background);
  border: none;
  box-shadow: var(--input-box-shadow);
  color: var(--color-text-primary);
  border-radius: 100vw;
  padding-block: 0.25rem;
  padding-inline: 1rem;
}
#add-task-form .input-container .add-task-input:focus, #add-task-form .input-container .add-task-input:focus-visible {
  outline: none;
  box-shadow: var(--input-focus-box-shadow);
}
#add-task-form .input-container .add-task-input::placeholder, #add-task-form .input-container .add-task-input[type=date]:invalid {
  color: var(--input-placeholder-text-color);
}

@media (max-width: 35em) {
  nav.zig-zag-nav {
    border-radius: unset;
    bottom: 0;
    flex-direction: column;
    min-width: 16.625rem;
    padding: min(30vh, 10rem) 2rem;
    right: 0;
    top: 0;
    width: max-content;
  }
  nav.zig-zag-nav .nav-list-container {
    padding: 0;
  }
  nav.zig-zag-nav #project-nav-list-container {
    border: none;
    grid-template-areas: "heading" "add-project" "project-list";
    max-height: unset;
    padding: 0;
  }
  nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form {
    grid-template-areas: "input-container" "button-container";
    grid-template-rows: 0fr 0fr;
  }
  nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form #project-input-container .list-icon-container {
    display: none;
  }
  nav.zig-zag-nav #project-nav-list-container #project-nav-list {
    border-radius: 1rem;
    flex-direction: column;
    padding: 1.125rem;
    flex-wrap: nowrap;
  }
  #task-list {
    padding-inline: 1rem;
  }
  #task-list .task-item {
    grid-template-areas: "checkbox title title right-side" "checkbox details details right-side";
  }
  #task-list .task-item .task-right-side-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 35em) {
  nav.zig-zag-nav #project-nav-list-container {
    max-height: 433px;
  }
  nav.zig-zag-nav #project-nav-list-container #add-project-container #add-project-form {
    grid-template-areas: "input-container" "button-container";
    grid-template-rows: 0fr 0fr;
  }
}
@media (min-width: 768px) {
  .zig-zag-nav #project-nav-list-container {
    max-height: 356px;
  }
  .zig-zag-nav #project-nav-list-container #add-project-container #add-project-form {
    grid-template-areas: "input-container button-container";
    grid-template-rows: 0fr;
  }
  .task-item .task-right-side-container {
    grid-template-columns: 2fr 1fr;
  }
  .task-item .task-right-side-container .task-item-button-container {
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
