*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

html {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h3,
h5,
h6 {
  font-weight: normal;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

img {
  image-rendering: crisp-edges;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: 0;
}

picture img {
  object-fit: contain;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

dfn {
  font-style: italic;
  margin-right: 3px;
}

abbr[title],
dfn[title] {
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

em {
  font-style: italic;
}

.accessibility {
  height: 1px;
  left: -9999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* * UTILITIES */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
}

body {
  background: url("../assets/images/space-background.webp") center/cover no-repeat;
  font-size: clamp(0.75rem, 5vw, 0.8313rem);
}
body #content {
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", "Courier New", Courier, monospace;
}
body #content header {
  align-items: center;
  display: flex;
  grid-area: header;
  padding-top: 1rem;
  padding-inline: 1rem;
  justify-content: space-between;
  z-index: 1;
}
body #content header .header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body #content header .header-left .header-logo {
  animation: spin 33s linear infinite;
  height: clamp(50px, 8vw, 55px);
  opacity: 0.5;
  transition: all 0.38ms ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #content header .header-left .header-logo:hover {
  animation-play-state: paused;
  opacity: 1;
}
body #content header .header-left .header-title {
  color: white;
  font-size: 1.5rem;
}
body #content header .header-right {
  align-items: center;
  display: flex;
  gap: 1.375rem;
}
body #content .zig-zag-nav {
  backdrop-filter: blur(1rem);
  background: hsla(0, 0%, 100%, 0.1);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding-bottom: 2rem;
  padding-inline: 2rem;
  padding-top: calc(clamp(50px, 8vw, 55px) + 1rem);
  position: fixed;
  width: 100%;
  top: 0;
}
body #content .zig-zag-nav .nav-list-container:has(.nav-link:hover) .nav-list-header::before {
  opacity: 0;
}
body #content .zig-zag-nav .nav-list-container .nav-list-header {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}
body #content .zig-zag-nav .nav-list-container .nav-list-header::before {
  content: ">";
  margin-inline-end: 0.5rem;
  left: -1rem;
  position: absolute;
  top: 0;
  transition: opacity 760ms ease-in-out;
}
body #content .zig-zag-nav .nav-list-container .nav-ul {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  margin-right: 1rem;
  padding-top: 1rem;
  justify-content: end;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-input-container {
  align-items: center;
  gap: 1.25rem;
  display: flex;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-input-container #project-name-input {
  border: none;
  border-radius: 100vw;
  padding: 1rem;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container {
  display: flex;
  gap: 1.25rem;
  align-self: start;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container #add-project-button,
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container #cancel-add-project-button {
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 100vw;
  color: white;
  cursor: pointer;
  padding: 15px;
  position: relative;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container #add-project-button::before,
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container #cancel-add-project-button::before {
  background: linear-gradient(to bottom, silver, silver, transparent);
  border-radius: inherit;
  content: "";
  display: inline-block;
  height: 100%;
  inset: 0;
  opacity: 0.3;
  position: absolute;
  transform: scale(0);
  transform-origin: bottom center;
  transition: transform 100ms ease-in-out;
  width: 100%;
  z-index: -1;
}
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container #add-project-button:hover::before,
body #content .zig-zag-nav .nav-list-container .nav-ul #add-project-li #project-buttons-container #cancel-add-project-button:hover::before {
  transform: scale(1);
}
body #content .zig-zag-nav .nav-list-container .nav-ul .special-nav-li:first-of-type .nav-link {
  font-size: 1rem;
  text-decoration: underline;
  transition: transform 380ms ease-in-out;
}
body #content .zig-zag-nav .nav-list-container .nav-ul .special-nav-li:first-of-type .nav-link:hover {
  transform: translateX(0.25rem) scale(1) rotate(0);
}
body #content .zig-zag-nav .nav-list-container .nav-ul .special-nav-li:first-of-type .nav-link::after {
  content: "+";
  opacity: 1;
  position: absolute;
  transition: transform 380ms ease-in-out;
}
body #content .zig-zag-nav .nav-list-container .nav-ul .special-nav-li:first-of-type .nav-link:hover::after {
  transform: translate(-0.25rem) scale(2) rotate(360deg);
}
body #content .zig-zag-nav .nav-list-container .nav-ul .nav-link {
  white-space: nowrap;
}
body #content .zig-zag-nav .nav-list-container .nav-ul .nav-link::after {
  content: ">";
  opacity: 0;
  position: absolute;
  top: 0;
  left: -0.75rem;
  transition: opacity 380ms ease-in-out;
}
body #content .zig-zag-nav .nav-list-container .nav-ul .nav-link:hover::after {
  opacity: 1;
}
body #content .zig-zag-nav .nav-list-container:nth-child(2) {
  max-height: 300px;
  width: 100%;
}
body #content .zig-zag-nav .nav-list-container:nth-child(2) .nav-ul {
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  overflow: scroll;
  padding: 2rem;
}
body #content main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding-inline: 1rem;
}
body #content main .main-container {
  border-radius: 50px;
  height: 100%;
  width: 88vw;
}
body #content footer {
  background-color: green;
  grid-area: footer;
}

@media (max-width: 35em) {
  body #content .zig-zag-nav {
    border-radius: unset;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    inset: 0 0 0 30%;
  }
  body #content .zig-zag-nav .nav-list-container:nth-child(2) .nav-ul {
    border-radius: 0;
    flex-direction: column;
    padding: 1.125rem;
    flex-wrap: nowrap;
  }
  body #content .zig-zag-nav .nav-list-container:nth-child(2) .nav-ul #add-project-li .list-icon-container {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
